<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_link">

    <!-- ================= VISUAL ================= -->

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size="0.60 0.45 0.20"/>
      </geometry>

      <material name="blue"/>
    </visual>


    <!-- ================= COLLISION ================= -->

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size="0.60 0.45 0.20"/>
      </geometry>
    </collision>


    <!-- ================= INERTIAL ================= -->

    <inertial>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <mass value="15"/>

      <inertia
        ixx="0.2656"
        ixy="0"
        ixz="0"
        iyy="0.5750"
        iyz="0"
        izz="0.7813"/>

    </inertial>

  </link>

</robot>
